# Force all .html files across all folders to be detected
**/*.html linguist-detectable=true
**/*.html linguist-language=HTML

# Ignore or override any PHP files inside subfolders so they don't show up
**/*.php linguist-vendored
