# Force specific files/folders to be treated as HTML
*.php linguist-language=HTML
src/* linguist-language=HTML

# Ignore vendor or generated library folders so they don't mess up language stats
vendor/* linguist-vendored
dist/* linguist-vendored
